@using book.Models
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Home.cshtml";
}
@model Book
<html>
    <head>
        <style>
            
            .card img{
                width:600px;
                height:500px;
                border-radius:20px;
            }
        </style>
    </head>
    <body>
              <div class="card">
                <img src="/image/@Model.photo" alt="Photo" />
                   <h2>Name : @Model.name</h2>
                         @if(@Model.avalibilty ){
                              <b>Book is Available</b>
                         }
                         else
                         {
                              <b>Book isn't Available</b>
                         }

                <b>Type : @Model.gener</b>
                <b>Author: @Model.Author</b>
        <a class="btn btn-success" asp-controller="Borrow" asp-action="Borrow" asp-route-id="@Model.id">Borrow</a>
        <a class="btn btn-secondary" asp-controller="Borrow" asp-action="Buy" asp-route-id="@Model.id">Buy</a>
                <a class="btn btn-primary" asp-action="AllBooks">Home Page</a>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <a class="btn btn-primary" asp-controller="CRUD" asp-action="Delete" asp-route-id="@Model.id">Delete</a>
            <a class="btn btn-primary" asp-controller="CRUD" asp-action="Update" asp-route-id="@Model.id">Update</a>
        }
              </div>
</body>
</html >
