@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<book.Models.Borrow> 

@{
    ViewBag.Title = "Borrowed Books";
}

<h2>Borrowed Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Borrower</th>
            <th>Borrow Date</th>
            <th>End Date</th>
           @*  <th>Return Status</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var borrow in Model)
        {
            <tr>
                <td>@borrow.Book.name</td>
                <td>@borrow.User.UserName</td>
                <td>@borrow.BorrowDate.ToString("MM/dd/yyyy")</td>
                <td>@borrow.EndDate.ToString("MM/dd/yyyy")</td>
                <td>
                   @*  @if (borrow.ReturnDate.HasValue)
                    {
                        <span class="text-success">Returned on @borrow.ReturnDate.Value.ToString("MM/dd/yyyy")</span>
                    }
                    else
                    {
                        <span class="text-danger">Not Returned</span>
                    } *@
                </td>
            </tr>
        }
    </tbody>
</table>
